
/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/
  
@media (min-width: 320px) and (max-width: 480px) {
    .btn-double .btn-info {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 8px 10px;
    /* border-radius: 3px; */
    margin-bottom: 10px;
    color: white;
    background: #008ed6;
    border: 1px solid #008ed6;
    transition: 1s ease-in;
}
.btn-double .btn-primary {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 10px;
    /* margin-left: 88px; */
    margin-bottom: 10px;
    border-radius: 3px;
    color: white;
    background: transparent;
    border: 1px solid #ffffff;
    transition: 1s ease-in;
}
.short-section .about-right .global-title h2 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 400;
    color: #404147;
}
.testimonial .owl-carousel .item h5 {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    line-height: 24px;
    margin-left: 8px;
    color: white;
}
.eye-cather h3 {
    color: white;
    font-size: 28px;
    margin-top: 10px;
    font-weight: 500;
    margin-left: 8px;
    margin-bottom: 30px;
}
.eye-cather .btn-primary {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 10px;
    margin-right: 15px;
    margin-left: 110px;
    margin-bottom: 10px;
    border-radius: 3px;
    color: white;
    background: transparent;
    border: 1px solid #ffffff;
    transition: 1s ease-in;
}
.eye-cather .btn-info {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 35px;
    margin-left: 40px;
    transition: 1s ease-in;
}
.pricing .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    margin-left: 20px;
    background-clip: border-box;
    bo.rder: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.form {
    /* height: 450px; */
    /* float: left; */
    position: absolute;
    padding: 30px 30px;
    background: black;
    /* margin-left: 100px; */
}
.form-control {
    width: 94%;
    /* padding: 39px; */
    background: transparent;
    border: 1px solid #a7a8a8;
    margin: 10px 0px;
    border-radius: 5px;
}
        
      
}    
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    banner-inner h1{
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 20px;
    
    
    }
    
  
  
  
}
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
  }

